---
import "@/styles/global.css";

import Container from "@bits/shared/components/Container";
import Link from "@bits/shared/components/Link";

import Body from "@/components/Body.astro";
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Html from "@/components/Html.astro";
---

<!doctype html>
<Html>
  <Head {...Astro.props} />
  <Body>
    <Header />

    <main class="grow">
      <slot />
    </main>

    <Feader />
  </Body>
</Html>
