.cpcache/
.clj-kondo/.cache/
.devenv/
.devenv.flake.nix
.direnv/
.git/
.lsp/.cache/
.nrepl-history
.nrepl-port
.terraform*/
*.tfstate*
*.tfvars*
apps/
certs/
decisions/
dev/
dev-resources/
iac/
node_modules/
target/
test/
test-resources/
