.claude/
.clj-kondo/.cache/
.cpcache/
.devenv/
.devenv.flake.nix
.direnv/
.git/
.github/
.lsp/.cache/
.nrepl-history
.nrepl-port
.terraform/
certs/
decisions/
dev/
docs/
iac/
node_modules/
target/
test/
test-resources/
*.pem
*.tfstate
*.tfstate.*
*.tfvars
