**/.claude/settings.local.json
**/.terraform/*
*.pem
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.astro
.terraform.lock.hcl
.terraformrc
/.claude/settings.json
/.devenv.flake.nix
/.mcp.json
/.terraform-plans/
/target
dist/
node_modules/
override.tf
override.tf.json
project.inlang/
terraform.rc
