**/.claude/settings.local.json
**/.terraform/
*.class
*.jar
*.pem
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*_override.tf
*_override.tf.json
.astro
.terraform.lock.hcl
.terraform.lock.hcl
.terraformrc
/.claude/settings.json
/.clj-kondo/.cache
/.cpcache
/.devenv
/.devenv.flake.nix
/.direnv
/.lsp/.cache
/.mcp.json
/.nrepl-history
/.nrepl-port
/certs/
/resources/public/app.css
/target
node_modules/
override.tf
override.tf.json
pom.xml
pom.xml.asc
terraform.rc
