[workspace]
resolver = "2"
members = [
    "node",
    "desktop",
    "web",
]

[profile.release]
lto = true
codegen-units = 1
opt-level = 3

[profile.dev]
opt-level = 0

[profile.dev.package."*"]
opt-level = 3