#kaocha/v1
 {:plugins
  [:kaocha.plugin/hooks
   :kaocha.plugin/profiling
   :kaocha.plugin/randomize]

  :reporter kaocha.report.progress/report

  :profiles
  {:ci {:reporter kaocha.report/documentation}}

  :tests
  [{:id                       :unit
    :kaocha.filter/skip-meta  [:e2e]
    :kaocha.hooks/before      [bits.test.hooks/pre-suite]}

   {:id                       :e2e
    :kaocha.filter/focus-meta [:e2e]
    :kaocha.filter/skip-meta  [:generative]
    :kaocha.hooks/before      [bits.test.hooks/pre-suite]}

   {:id                       :generative
    :kaocha.filter/focus-meta [:generative]
    :kaocha.hooks/before      [bits.test.hooks/pre-suite]}]}
