{:lint-as {bits.test.app/with-system               clojure.core/let
           bits.test.browser/with-driver           clojure.core/with-open
           clojure.test.check.clojure-test/defspec clojure.test/deftest
           clojure.test.check.properties/for-all   clojure.core/let}

 :linters
 {:consistent-alias
  {:aliases {bits.test.app         t
             clojure.spec.alpha    s
             etaoin.api            e
             reitit.coercion.malli coercion.malli
             reitit.ring.coercion  ring.coercion}}

  :unused-referred-var
  {:exclude {com.stuartsierra.component.repl [system]}}

  :unresolved-symbol
  {:exclude [(clojure.test/is [match?])]}

  :unresolved-var
  {:exclude [datahike.api/connect
             datahike.api/create-database
             datahike.api/pull
             datahike.api/q
             datahike.api/release
             datahike.api/transact]}}}
