{:lint-as {clojure.test.check.clojure-test/defspec clojure.test/deftest
           clojure.test.check.properties/for-all   clojure.core/let
           bits.test.app/with-system               clojure.core/let}

 :linters
 {:consistent-alias
  {:aliases {clojure.spec.alpha    s
             iv.interceptor        i
             reitit.coercion.malli coercion.malli
             reitit.ring.coercion  ring.coercion}}

  :unused-referred-var
  {:exclude {com.stuartsierra.component.repl [system]}}

  :unresolved-symbol
  {:exclude [(clojure.test/is [match?])]}}}
