---
import config from "@bits/shared/config";
import Container from "@bits/shared/components/Container";
import Link from "@bits/shared/components/Link";
import Header from "@/components/Header.astro";

import "@/styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const { tenant } = Astro.locals;
---

<!doctype html>
<html lang="en" class="min-h-screen antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Bits - A modern web application" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    {!tenant && <Header />}

    <main class="flex grow flex-col">
      <slot />
    </main>

    <footer class="py-4">
      <Container>
        <p class="text-sm">
          Brought to you by <Link
            class="font-semibold"
            href={config.apps.www.url}>Bits</Link
          >.
        </p>
      </Container>
    </footer>
  </body>
</html>
