---
import Layout from '@bits/shared/components/Layout.astro';
---

<Layout title="Bits Editor">
  <main>
    <h1>usebits.app</h1>
    <p>Welcome to the Bits editor application.</p>
  </main>
</Layout>